#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 64px;
    border: solid 1px black;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 64px;

    & .aside-container {
        max-width: 33rem;

    }
}